.example-card {

    max-width: 10000px;
    margin-top: 700px;

  }

  /*email*/
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  /*telefono*/
  .example-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-header-image {
   /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
    background-size: cover;
  }
  .example-form {
    min-width: 150px;
    max-width: 800px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }