
<!-- Loader -->
<div class="loader">
    <div class="loader-img"></div>
  
  <!-- Toolbar-->
  
  <div class="toolbar" role="banner">
  
    <div class="LogoCC">
      <span class="logo"></span>
      <a href="index.html">
        <img width="400"alt="conciencia" id="logo" src="assets/LogoCC.png">
      </a>
    </div>
      <div align="margin-left">
       <mat-toolbar-row >
            <span class="separador">| </span><a href="/welcome">Inicio</a>
            
            </mat-toolbar-row>
        
            <mat-toolbar-row >
              <span class="separador">| </span><a href="/quienessomos">Quienes Somos</a>
          </mat-toolbar-row>

          <mat-toolbar-row >
            <span class="separador">| </span><a href="semilleros">Semilleros</a>
          </mat-toolbar-row>

          <mat-toolbar-row >
            <span class="separador">| </span><a href="login">Inicar Sesión</a>
          </mat-toolbar-row>

          <mat-toolbar-row >
            <span class="separador">| </span><a href="register">Rgistrarse</a>
          </mat-toolbar-row>

          <mat-toolbar-row >
            <span class="separador">| </span><a href="Contacto">Contacto</a>
          </mat-toolbar-row>
        </div>



    

<router-outlet></router-outlet>